<connectionStrings>
  <clear />
  <!--dấu chấm ở sau data source thể hiện tự nhận máy hiện tại-->
  <add name="MarioShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.; Initial Catalog=MarioShop; Integrated Security=False;User Id=sa;Password=1tinhyeuave;MultipleActiveResultSets=True" />
</connectionStrings>
